# Live Code 1

```txt
Adnan Rio
Batch 14
```

## Description

### Objective

```txt
Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:
R={V}\{I}

P=V*I

R adalah Hambatan dalam satuan Ohm
P adalah Daya dalam Watt
I adalah kuat arus dalam satuan Ampere
V adalah tegangan dalam satuan Volt
```

### Problem Statement

```txt

a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

c. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil

```

## Working Area


```

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('NMC1-9.xlsx')
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
time(s),90982.0,45490.500000,26264.385433,0.00000,22745.25000,45490.500000,68235.75000,90981.000000
V_m,90982.0,3.607666,0.322777,2.49700,3.42200,3.636000,3.86800,4.114000
Current (A),90982.0,0.999264,0.001997,0.99300,0.99700,0.999000,1.00100,1.003000
Cycle,90982.0,4.978699,2.582135,1.00000,3.00000,5.000000,7.00000,9.000000
Cap,90982.0,2.806214,0.023283,2.77018,2.78686,2.804878,2.82352,2.840817

In [5]:
df.sample(5)

       time(s)    V_m  Current (A)  Cycle       Cap
8437      8437  3.327        0.996      1  2.840817
74247    74247  3.800        0.998      8  2.783342
25827    25827  3.604        0.996      3  2.823520
77833    77833  3.493        1.001      8  2.783342
49665    49665  3.223        1.001      5  2.804878

In [10]:
#  Dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) 
def hambatan(v,i):
    #Rumus menghitung hambatan
    return v/i

def daya(v,i):
   #Rumus menghitung daya dalam watt
    return v*i

In [11]:
df.Cap.unique() #Melihat Value unique pada kolom Cap

array([2.84081667, 2.83346528, 2.82352   , 2.82039528, 2.80487833,
       2.79072556, 2.78686   , 2.7833425 , 2.77018   ])

In [12]:
for cap in df.Cap.unique():
    if cap >= 2.5: #Validasi nilai cap diatas 2.5
         df['R/P'] = df.apply(lambda df: daya(df['V_m'], df['Current (A)']), axis=1) #Jika nilai cap >= 2.5
    else: 
        df['R/P'] = df.apply(lambda df: hambatan(df['V_m'], df['Current (A)']), axis=1) #Jika nilai cap < 2.5

In [13]:
df

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

In [15]:
# rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.
x=df.Cap[(df['Current (A)'] == 1)&(df['Cycle']%2 != 0)].mean()
print ('rata-rata nilai kapasitas untuk arus = 1 Ampere dan Cycle Ganjil adalah: ',x)

rata-rata nilai kapasitas untuk arus = 1 Ampere dan Cycle Ganjil adalah:  2.8064845553925855